<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdeastriver.datasync.dao.ClocksDao">

    <select id="selectAll" resultType="com.gdeastriver.datasync.pojo.Clocks">
      select clock_id,Clock_name,Clock_type from  Clocks
    </select>

    <select id="countAll" resultType="int">
        select count(*) from Clocks
    </select>

</mapper>