<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdeastriver.datasync.dao.MChargeRecordsDao">

    <select id="selectListByCondition" resultType="com.gdeastriver.datasync.pojo.MChargeRecords">
          select  emp_id, card_id,convert(VARCHAR,charge_money) as charge_money,
            convert(VARCHAR,card_balance) as card_balance,card_times,card_sequ,Kind,op_ymd,op_user,op_date,remark,difine_sequ from  MChargeRecords
          where nRecSeq between #{start} and  #{end}
    </select>

    <select id="getMaxNRecSeq" resultType="int">
        select ISNULL(MAX(nRecSeq),0) from MChargeRecords
    </select>

</mapper>